name: MLflow CI Training

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        python-version: "3.10"
        environment-name: mlflow-env
        create-args: >-
          python=3.10

    - name: Install dependencies
      shell: bash -l {0}
      run: |
        pip install mlflow==2.12.1 scikit-learn pandas numpy

    - name: Run MLflow Project (LOCAL ENV)
      shell: bash -l {0}
      run: |
        mlflow run MLProject --env-manager=local
